[2016-03-27 15:09] tpharaoh opened #6 "Alias"
For some reason in laravel 5.2 the alias in config/app.php wasn't working.

its OK, because I got the package working by writing use Tylercd100\LERN\Facades\LERN as LERN;
in Handler... but just though to write you.

I was getting:
[Sun Mar 27 16:55:50 2016] PHP Fatal error:  Class 'App\Exceptions\LERN' not found in /www/laravelapp/app/Exceptions/Handler.php on line 37

[2016-03-27 15:53] tylercd100 commented on #6
Looks like you are in the `App\Exceptions` namespace. Try doing `use LERN;` instead of `use Tylercd100\LERN\Facades\LERN as LERN;`

[2016-03-28 11:36] leamasuero opened #11 "mailing not working"
I followed the instructions but i couldn't make it work. I set it this way:

`config/mail.php`

[code]

I don't know how to troubleshoot this issue since I got no error. On the other hand, exceptions are being recorded successfully in the database.

[2016-03-28 14:08] tylercd100 commented on #11
Does wrapping it in a try catch produce anything?

[code]

If you do find the error, please let me know about it so I can update the code. Thanks!

[2016-03-28 14:10] #6 closed, assigned to nobody

[2016-03-29 00:27] tylercd100 commented on #11
I am working on this right now #12
Were you able to figure out your issue with using `mail`?

[2016-03-29 11:47] leamasuero commented on #11
No. I didn't have time to troubleshoot it. I tried to make this work in the project I'm working on. I was wondering if this issue remains in a fresh new laravel installation.

[2016-03-29 16:45] tylercd100 commented on #11
Just a heads up
Version `^3.1.2` includes Vincent's changes ( #15 ) for SMTP support and my change ( #12 ) which will actually dump an error instead of giving you an empty response when the Notifier fails.

If you have time to troubleshoot it please let us know if you find anything :-)
Much appreciated!

[2016-03-30 15:18] luciano-masuero commented on #11
Same error. Email not being sent and no error also being triggered.
@tylercd100: Try your code but no Exception being triggered

Laravel: 5.1.27
LERN: 3.1.3

[2016-03-30 16:39] tylercd100 commented on #11
K I will do some work on this tonight. In the meantime can you please let me know what Versions of Operating Systems you are using? @luciano-masuero @leamasuero

[2016-03-30 17:32] luciano-masuero commented on #11
Ubuntu 14.04

[2016-03-30 18:07] leamasuero commented on #11
Ubuntu 14.10 (GNU/Linux 3.16.0-23-generic x86_64)

[2016-04-01 07:40] jezzdk commented on #11
The log driver doesn't send emails, and having pretend = true suppresses emails as well.
Try using a different mail driver and set pretend to false.

[2016-04-01 11:48] luciano-masuero commented on #11
@jezzdk ... I am using smtp driver and is also not sending emails (Just to let you know)

[2016-04-01 12:07] vincentmendiola commented on #11
@luciano-masuero are you using gmail for smtp? If so, do you have 2-step verification enabled?

[2016-04-01 12:12] luciano-masuero commented on #11
@vincentmendiola ... Yes, I am using gmail smtp and no I do not have 2-step verification

All the other system emails are working normally

[2016-04-01 13:33] vincentmendiola commented on #11
@luciano-masuero I was able to get mail sending using the following for the mail environment variables - can you confirm that these match what you have?

[code]

I set up a fresh install of Laravel 5.1.27, LERN 3.1.3, and used a gmail account without 2-step verification enabled - the only difference should be our OS.

[2016-04-01 13:59] luciano-masuero commented on #11
@vincentmendiola ...

Config:

[code]

Other emails are working
Record of the exception is also working
Email of the exception is not working

[2016-04-01 14:01] luciano-masuero commented on #11
@vincentmendiola ... I have retested and it work

Found some problem on my configs.. So, is working for me right now

[2016-04-01 17:44] dragonfire1119 opened #19 "Wrong params error"
Drivers:
- Mail
- Slack

Error:

[code]

LERN Setup in Handler:

[code]

How to produce the error:
- Miss spell the `$this->middleware('aut');` in the controller __construct.

Database pertaining to the error:
- Mysql: success
- sqlite: error

[2016-04-01 18:04] tylercd100 commented on #19
Awesome, thank you @dragonfire1119 I will have fix for this soon

[2016-04-01 18:22] tylercd100 commented on #19
Hey @dragonfire1119 give the new release a try (3.1.4)

[2016-04-01 18:49] dragonfire1119 commented on #19
@tylercd100 seems that (3.1.4) fixed it. Ill let you know if I find anymore bugs. Thanks for your time in fixing the bug.

[2016-04-01 18:49] #19 closed, assigned to nobody

[2016-04-01 19:45] tylercd100 commented on #11
@leamasuero  Can you please try these suggestions so I can close the issue? I'm very curious to see if it fixes the issue with you too. Thanks.

[2016-04-02 08:55] uyab opened #20 "Exclude sensitive data"
If I set `data => true` in config file, then all input will be posted when exception happen. But what if I want exclude some input data, e.g., password. Would you like to add this functionality?

[2016-04-02 15:32] tylercd100 commented on #20
We could add a exclude keys option? That could recursively search for certain keys and hide them. Is this something you would want?

On Sat, Apr 2, 2016, 2:55 AM Bayu Hendra Winata notifications@github.com
wrote:

[2016-04-02 18:33] tylercd100 commented on #20
Checkout release [3.2.0](https://github.com/tylercd100/lern/releases/tag/3.2.0) and the excludeKeys options in the [updated config file](https://github.com/tylercd100/lern/blob/3.2.0/config/lern.php)

[2016-04-02 18:33] #20 closed, assigned to nobody

[2016-04-02 19:00] tylercd100 commented on #20
It should be noted that this change only affects what is being recorded. If you are using the example from the README to change the notification message then you will need to alter it to ignore the password fields.

[2016-04-04 22:32] tylercd100 commented on #11
I am closing this issue. Please open it back up if you are still having trouble.

[2016-04-04 22:32] #11 closed, assigned to nobody

[2016-04-05 06:23] tyler36 commented on #11
I'm probably missing something stupid but I can't seem to get the notifications working either.

SETUP:
Homestead
Laravel 5.2.29
I'm getting the database reporting no problems.
LERN.PHP

[code]

In HANDLER.PHP

[code]

If I throw a 404 (visiting a page that doesn't exist), I an entry in my dtabase, & an email from MAIL titled 'control' with either Mailgun or Mailtrap (depending on my current setup

[2016-04-25 18:15] SuperlativeEntity opened #29 "Request: Mailgun Integration"

[2016-04-25 18:16] SuperlativeEntity opened #30 "Request: Cartalyst Sentinel Integration (user_id)"

[2016-04-25 18:49] tylercd100 commented on #30
I will see what I can do

[2016-04-25 18:49] tylercd100 commented on #29
I will see what I can do

[2016-04-25 19:01] SuperlativeEntity commented on #29
Thanks Tyler, appreciate your response.

[2016-04-26 04:48] tylercd100 commented on #29
Please try [v3.5.0](https://github.com/tylercd100/lern/releases/tag/3.5.0) and let me know if you experience any issues!

[2016-04-26 06:10] tylercd100 commented on #29
Sorry @SuperlativeEntity I had to roll back to v3.4.0. My implementation of mailgun was not working as intended. I will have an update sometime tomorrow.

[2016-04-27 02:04] tylercd100 commented on #29
Ok, now give [v3.5.0](https://github.com/tylercd100/lern/releases/tag/3.5.0) a try :)

[2016-04-27 13:47] SuperlativeEntity commented on #29
Hi @tylercd100, thanks for the update!

I added the following to my .env file:

MAILGUN_TO=mail@test.com
MAILGUN_FROM=test@laravel5.2.com
MAILGUN_APP_TOKEN=key-1234567890
MAILGUN_DOMAIN=sandbox5d118.mailgun.org

Then changed the published config to use mailgun and the exception handler to: LERN::handle($e); in order to record and notify.

The exception logs to the database, the email however does

[2016-04-27 14:20] tylercd100 commented on #29
Hmm, can you try setting MAILGUN_FROM to:

MAILGUN_FROM="Test Name test@test.com"

Let me know if that works :)

On Wed, Apr 27, 2016, 7:47 AM SuperlativeEntity notifications@github.com
wrote:

[2016-06-16 16:46] tylercd100 commented on #29
Please reopen if you are still having issues with this!

[2016-06-16 16:46] #29 closed, assigned to nobody

[2016-06-16 16:47] tylercd100 commented on #30
Did you still need this? Please reopen if you do

[2016-06-16 16:47] #30 closed, assigned to nobody

[2016-06-28 01:01] sroutier opened #33 "Format email message."
Hello,

Thanks for this great package.

Do you know of a good way to format the email message that is sent?
In the "Changing the text" section of your README, you show us how to do some formatting and how to add details but the HTML formatting is not retained.
Ideally LERN would make use and publish templates that could be customized.

Any thoughts?

Cheers.
/S

[2016-06-29 03:12] tylercd100 commented on #33
Hey Sebastian, thanks for reaching out. I like the idea of using templates
for LERN. Let me get back to you after I've done some digging through the
code.

On Mon, Jun 27, 2016, 7:01 PM Sebastien Routier notifications@github.com
wrote:

[2016-07-25 12:49] matthijs-neijenhuijs opened #34 "slack issue"
In slack on a mobile phone, the message are with a red background. Hard to read with black text.

[2016-07-25 16:33] tylercd100 commented on #34
Hey @isomis this is because LERN logs the exception on the **critical** level then sends that over to Monolog which generates the red looking slack message. I could make this work by simply adding another config value to change the log level to something else other than critical. Let me know if that would work for you?

[2016-07-25 18:35] matthijs-neijenhuijs commented on #34
Yes, that would work!! Nice packages by the way!

[2016-07-26 00:03] tylercd100 commented on #34
@isomis Please give version 3.6.0 a try.

Please notice the `log_level` key in the [config/lern.php](https://github.com/tylercd100/lern/blob/master/config/lern.php) file. Try setting it to `debug` or `info`.

#35

Please reopen this issue if it doesn't work :)

[2016-07-26 00:03] #34 closed, assigned to nobody

[2016-07-26 05:55] tylercd100 commented on #33
Hey @sroutier I just saw the [package](https://github.com/sroutier/laravel-5.1-enterprise-starter-kit) you are working on. What an honor! :)

I'll try an make sure I get this done this week

[2016-07-26 18:41] sroutier commented on #33
Thanks, would be great if email templates could be supported. It would add some polish and customizations.
Could not have done it without the great packages created and open-sourced by the community like yourself.

Cheers.
/S

[2016-08-03 07:54] matthijs-neijenhuijs commented on #34
Yes thnx!

[2016-08-25 14:48] eleftrik opened #36 "Mail without EOL"
Hi, just installed your package.
I customized setMessage() as in your example; I receive e-mails, but in the text PHP_EOL gets stripped (in place there is a whitespace), so data are in the same line, without any carriage return.

Even if setMessage() returns something like

[code]

Am I missing something in the configuration?

Thank you

[2016-08-30 11:39] eleftrik opened #37 "ORA-24816 with Oracle db when collecting user_id"
Hi, I'm using Laravel 5.3, LERN 3.6.2 and I'm connecting to an Oracle database using yajra/laravel-oci8.

If I set `record.collect.user_id => true` in config/lern.php, I got this issue:
- if the user is authenticated: everything ok
- if the user is not authenticated: when an Exception fires, I got

If I set `record.collect.userid => false`, everything is ok.

With a mysql database everything works

[2016-08-30 11:41] eleftrik commented on #33
I agree with @sroutier, using an e-mail template would be great.

[2016-08-30 18:09] tylercd100 commented on #37
Hey @eleftrik please give [3.6.3](https://github.com/tylercd100/lern/releases/tag/3.6.3) a try and let me know if it works for you!

[2016-08-30 21:28] tylercd100 commented on #36
Hey @eleftrik version [3.6.4](https://github.com/tylercd100/lern/releases/tag/3.6.4) should fix this issue! Let me know if you are still having issues. :)

[2016-08-30 21:29] #36 closed, assigned to nobody

[2016-08-30 21:29] #37 closed, assigned to nobody

[2016-08-30 22:05] tylercd100 commented on #33
Hey @sroutier and @eleftrik. I have released version [3.6.5](https://github.com/tylercd100/lern/releases/tag/3.6.5) which allows for html in emails.

I am still going to keep this issue open because I think templates is a great idea. I do however want to see how I can utilize Laravel 5.3's new Email and Notification functionality to see if it would benefit templates in a LERN v4.0 release.

[2016-08-30 22:10] sroutier commented on #33
That is great Tyler.
I will look at it ASAP.
Thanks a lot.
/S

On Tue, Aug 30, 2016 at 6:05 PM, Tyler Arbon notifications@github.com
wrote:

[2016-09-01 07:06] eleftrik commented on #36
Hi @tylercd100, just upgraded to version 3.6.4, it works!
Thank you a lot for your support

[2016-09-01 07:07] eleftrik commented on #37
@tylercd100: it works perfectly! Thank you

[2016-09-01 07:21] eleftrik opened #39 "Additional fields?"
Hi, I would like to add some extra data when logging my exceptions. For example: client IP, user agent, etc.
In my case, I would like to log this information in the db table and notify it via e-mail.
What is the best way?
Thank you.

[2016-09-01 09:55] loranger opened #40 "Formatting message"
Hello (and thank you for this useful package)

I'd like to format a bit my error message.

I was wondering where I was supposed to write down my `LERN::setMessage` closure, so I put it in my `Exceptions/Handler.php` file, inside my `report` method:

[code]

Am I doing right ?

I'm also trying to format my exceptions notification message and that's the aim of this issue.
I mainly use slack and I'm

[2016-09-01 18:06] tylercd100 commented on #40
Hey @loranger , please give version [3.6.6](https://github.com/tylercd100/lern/releases/tag/3.6.6) a try. Let me know if it fixes the issue with new lines

Yes you are using the `setMessage` method correctly :-)

[2016-09-02 12:19] loranger commented on #40
That's much better, indeed.
I still miss the slack formatting (kind of minimal markdown) but at least, the reports are definitely readable !

Thank you so much !

By the way, It would be useful to being able to get the id of the current recorded exception from the notification itself.
That would be helpful to add a link to the current full and formatted exception from the notification message.

[2016-11-17 20:57] lvian commented on #39
I would second this request, being able to store custom data would be amazing, helping developers to replicate the errors occurred

[2016-11-18 02:16] lvian commented on #39
Ok, so I managed to deal with this with a shameful fix, but that solved my problem until some oficial answer.

Basically, inside Handler.php `report function` I add my custom data inside the request fields that are going to be collected if you have `'data'=>true` inside lern.php

Something like this

[code]

[2016-11-25 09:17] eleftrik commented on #33
Thank you @tylercd100, I will try ASAP

[2016-11-25 09:58] eleftrik commented on #33
@tylercd100, I tried to use HTML, but I'm still receiving emails with expanded tags.
Can you please share an example?

[2016-11-28 21:37] tylercd100 commented on #33
@eleftrik @sroutier I got blade templates working with LERN

Check out the [README](https://github.com/tylercd100/lern#changing-the-body-of-the-notification) for the latest version.
You will also need to run this line in the terminal if you want to use the default blade template
[code]

[2016-11-28 21:38] tylercd100 commented on #33
@eleftrik It looks like SMTP is not properly setting the email type to HTML for the email, I will get this fixed as soon as I can

[2017-02-01 16:06] sroutier opened #42 "excludeKeys not working"
The config ```record.excludeKeys``` is not working properly.

The method ```Recorder.getData()```:
[code]

Return the unmodified/unfiltered ```$data``` array instead of returning the array modified by ```Recorder.excludeKeys(...)```

PR on its way.

[2017-02-01 17:54] tylercd100 commented on #42
Version 3.7.5 has this fix

[2017-02-01 17:54] #42 closed, assigned to nobody

[2017-02-01 19:55] sroutier commented on #42
Cool, it's fixed thank you but I can't use it.
I'll open a new issue.
/s

[2017-02-01 19:58] sroutier opened #44 "Does not support Laravel 5.1"
The last few releases require Illuminate/support 5.2 which implies Laravel >= 5.2.
Was there a reason to require 5.2? Would you consider lowering the bar to 5.1? I have to keep using 5.1 LTS for a bit.

Thanks.
/S

[2017-02-02 22:26] tylercd100 commented on #44
Yeah I'm down with lowering it to 5.1.
5.2 was what I was using at the time.

I'll see what I can do tonight

[2017-02-02 22:27] sroutier commented on #44
Thanks, if it works it would be appreciated.
/s

On Feb 2, 2017 5:26 PM, "Tyler Arbon" <notifications@github.com> wrote:

[2017-02-02 23:16] #44 closed, assigned to nobody

[2017-02-02 23:17] tylercd100 commented on #44
Can you give 3.8.0 a try?

[2017-02-02 23:30] tylercd100 commented on #44
sorry, try 3.8.1
3.8.0 wasnt actually installing 5.1 oops!

[2017-02-03 14:51] sroutier commented on #44
:1st_place_medal:

Works! Thanks a lot for considering this change, it's really appreciated. Your package is helping me a lot.

Couple of notes in case it helps someone else or even myself next time I encounter these issue:

1) The composer command ran out of memory with this error:
[code]

The solution was to unlock the memory limit for that command with:
[code]

2) I had to first remove LERN the

[2017-02-09 22:17] momame opened #47 "email not working in prod although exception storing in db"
Hi

I configured everything fine and even the exceptions saves in "vendor_tylercd100_lern_exceptions" table. In local-host (xamp server) it simply sends emails without any problem, but not working in prod!

[2017-02-14 22:20] momame commented on #47
can Anyone help???!!!

[2017-02-14 23:06] tylercd100 commented on #47
Hey Mo,

I'm very sorry but I just got back from vacation yesterday and did not see your request for help until now.

Is your configuration set to use native mail or SMTP?

if smtp is false then you will need to properly install the recommended packages for sending native mail on you production machine
if smtp is true then you will need to properly configure your smtp settings found in `config/mai

[2017-02-15 17:26] momame commented on #47
Hi Tyler,

I checked config/mail.php It's a SMTP,port25 kind. I set the parameters in lern.php as well.

        /**
         * mail, pushover, slack, etc...
         */
        'drivers'=>['mail'],

        /**
         * Mail settings
         */
        'mail'=>[
            'to'   => 'xyz@xyz.com',
            'from' => 'xyz@xyz.com',
            'smtp' => true,
        ],

what else should I

[2017-02-15 20:26] tylercd100 commented on #47
What version of Laravel are you using?
What are you using for your SMTP server?
Have you tried using a tool like https://mailtrap.io/ for email testing?

Also check this out for more help with sending mail with laravel
https://laravel.com/docs/5.4/mail#mail-and-local-development

[2017-02-15 20:48] momame commented on #47
well SMTP server is our default config in our project and in other module, mailing works fine, we don't want to use mailtrap in production. but mailtrap works in localhost like I mentioned before
what do you think?
Thanks

[2017-02-15 20:57] tylercd100 commented on #47
So, SMTP works just fine in production for your other emails? What version of Laravel are you using?

[2017-02-15 21:12] momame commented on #47
We are using the  version 5.3.30

[2017-02-17 02:57] tylercd100 commented on #47
Hey Mo,

So I found some time to test it out on 5.3.30 and I am having no issues getting it to send an email using SMTP.

Can you try verifying your mail settings for production? `config/mail.php`

[2017-02-21 23:24] momame commented on #47
Still I have the problem

[2017-02-22 00:16] momame commented on #47
this is part of my code in handler.php

 protected $dontReport = [
        \Illuminate\Auth\AuthenticationException::class,
        \Illuminate\Auth\Access\AuthorizationException::class,
        \Symfony\Component\HttpKernel\Exception\HttpException::class,
        \Illuminate\Database\Eloquent\ModelNotFoundException::class,
        \Illuminate\Session\TokenMismatchException::class,
        \Illumi

[2017-02-22 00:32] momame commented on #47
recently after some manipulation sometimes when Laravel throwing error it says undefined index to  !

which seems has to with static function nativeMail in MonologHandlerFactory.php line 352. Therefore it means it wants to use nativeMail function but like I said our mailing is smtp

[2017-02-22 00:54] momame commented on #47
By the way our user/pass is null in production

MAIL_DRIVER=smtp
MAIL_HOST=xx.xx.xx.xx
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=

[2017-02-23 17:08] momame commented on #47
It is fixed now our smtp configuration was not good. thanks anyway

[2017-02-23 17:08] #47 closed, assigned to nobody

[2017-03-02 08:54] drjonnicholson opened #48 "Slack: as_user or icon"
Hi,

I've noticed that when an exception logs through to slack it uses the default bot icon rather than the icon I've given the bot. Bit frustrating.

Looking at the documentation for slack it appears this is because `as_user` setting is false by default and then it uses a default icon.

How can I add this setting to the slack notifier (and/or be able to customize the icon used by emoji/url)?

[2017-03-02 19:41] tylercd100 commented on #48
I dont personally use slack but try setting a value for `iconEmoji` in the config

[code]

[2017-03-03 11:09] drjonnicholson commented on #48
Thanks for the reply. Adding `'iconEmoji' => ":scream:"` worked. So as a workaround I have made a cusom emoji (https://get.slack.help/hc/en-us/articles/206870177-Creating-custom-emoji) with the image I want to use. Now I can successfully post with the expected icon, even if it's not actually using the icon assigned to the bot.

I dug into the code and this looks to be a limitation of the underlyin

[2017-03-03 11:09] #48 closed, assigned to nobody

[2017-03-06 11:01] TUNER88 commented on #40
@tylercd100 is it possible to add markdown support for slack channel, to make the messages more readable?

Basic code formatting like in [Cherry-Pie/LogEnvelope](https://github.com/Cherry-Pie/LogEnvelope) package would make messages more readable!

[2017-03-22 20:21] maurocasas opened #49 "Slack App Token, where to obtain?"
Hey, I have tried setting my SLACK_APP_TOKEN as the OAuth token, and also using my Client Secret.

How should I proceed? Thanks!

[2017-03-22 21:25] tylercd100 commented on #49
Hello @maurocasas

I do not personally use slack with LERN but I do know that we have many users that are currently using it successfully. LERN uses monolog on the backend to connect to various services. You could try going through these links to find a solution.

https://github.com/Seldaek/monolog/issues/743
https://github.com/Seldaek/monolog/issues/514

@loranger, @drjonnicholson, @isomis I know

[2017-04-04 16:34] #49 closed, assigned to nobody

[2017-04-28 20:29] TUNER88 commented on #40
@tylercd100 I still have problems with markdown rendering on the latest version. Markdown markup looks like normal text, any idea how to fix it?

[2017-07-11 12:08] eleftrik commented on #33
Hi @tylercd100, was this fixed? I tried to upgrade to version 3.8.2, but I'm still receiving text only e-mails, with no line breaks and no HTML format.

Thank you

[2017-07-11 12:58] eleftrik commented on #33
Now it works! Sorry, I forgot update my config file, adding `'view' => 'exceptions.default',`

One last issue: when I receive email, they always start with something like

`[2017-07-11 14:55:01] Tylercd100\LERN.CRITICAL:`

..and end with two empty arrays: `[] []`

In `resources/exceptions/default.blade.php` I'm not priting such arrays.

@tylercd100, have you any suggestion?

Thanks

[2017-09-21 20:32] gthuo commented on #39
Did it my way...like for example to collect IP address I performed these 4 steps.
1. Create a migration that edits the schema lern table to reflect the new columns you want to add, and migrate the changes.

2. On _config/lern.php_, add ip to the list of optional fields, and set it to true on
![image](https://user-images.githubusercontent.com/13334580/30717028-62d0c51e-9f24-11e7-83c4-617f89d12052.p

[2017-09-21 20:38] gthuo opened #50 "Configure Slack to Work"
Anyone who has gotten to configure Slack to work?
I get to make Slack notifications work I need to add it to the list of drivers in the config file, then under the slack key under notify key, I specify the special values for Slack env. I have defined these in .env.

To get a Slack App Token, I need to create a new app on Slack? I have created one afterwhich I got a client ID, a secret and a **veri

[2017-09-23 14:37] eleftrik commented on #39
@gthuo Yes, but this way you are updating code inside _vendor_ folder. When you update this package, all your modifications will be lost. In my opinion, this is a bad practise.

[2017-09-23 18:39] tylercd100 commented on #39
Ok good news bad news.

#### Bad news
You're going to need to be on Laravel 5.5

#### Good news:
Version 4.2 gives you:
- An IP address option (There is a new migration) Thank you @gthuo
- Custom Recorder/Notifier classes

In the `config/lern.php`:
[code]

`app\LERN\CustomRecorder.php`
[code]

And then finally you will need to add a migration for 'user_agent' or any other custom value that you dec

[2017-09-23 18:39] #39 closed, assigned to nobody

[2017-09-23 18:53] tylercd100 commented on #50
Hello gthuo,

Please take a look at this issue
https://github.com/tylercd100/lern/issues/49

[2017-10-31 19:45] sroutier opened #52 "LERN not auto-discovered in Laravel 5.5"
Hello,

Anybody else having trouble getting LERN to get auto-discovered?

Here is the output of the require command from a fresh Laravel 5.5.19
[code]

[2017-10-31 22:48] tylercd100 commented on #52
I see the problem, I will patch it super quick!

[2017-10-31 22:52] #52 closed, assigned to nobody

[2017-10-31 22:53] tylercd100 commented on #52
@sroutier let me know if that worked for you

[2017-11-01 13:58] sroutier commented on #52
Works. Thank you.
/s

[2017-11-02 19:30] sroutier opened #54 "Formatting message with release 4.x?"
Hello @tylercd100 ,

With the previous version, I used to format the message using the LERN::setMessage() function.
Is this still supported?

Does not looks to be working for me at the moment.

Cheers.
/S

[2017-11-02 19:39] sroutier commented on #54
Got it to work. Just had to make sure that the config option ```view``` in config/lern.php was set to null.
[code]

Perhaps a quick note on the comment to point this out would be helpful.
Great package @tylercd100, Thanks a lot.

/s

[2018-01-27 22:24] anilkreddy opened #55 "Email is triggering 3 times"
While firing the notification email, it's sending 3 times.

[2018-01-27 23:14] tylercd100 commented on #55
Hello, I am currently on vacation.

Lern is not designed to do that. Can you please provide more detail on your error?

It sounds like it could be originating from a queued job?

[2018-01-28 06:45] anilkreddy commented on #55
Hi Tyler,

I don't see any error but when an exception occurs, I'm getting 3 emails at the same time. I did enabled queues but currently, the job is not running!

[2018-02-01 11:02] muzafarali opened #56 "Error on app()->make("lern")->record($exception)"
Hi,
i'm using
`app()->make("lern")->record($exception);` in render@Handler.php
and getting error below many time ..

Next Tylercd100\LERN\Exceptions\RecorderFailedException: SQLSTATE[HY000] [1045] Access denied for user 'forge'@'localhost' (using password: NO) (SQL: insert into `exceptions_log` (`class`, `file`, `line`, `code`, `message`, `trace`, `status_code`, `method`, `data`, `url`, `updated_a

[2018-02-02 13:58] drjonnicholson opened #57 "Migrating 3.x to 4.x"
It's worth putting on the readme page that when upgrading from 3.x to 4.x to make sure that the config file now includes the new `lern.notify.class` and `lern.record.class` settings.

Without these we were getting "Class name must be a valid object or a string" reported at line 158 in `LERN.php`. See line 156 and 175 of `LERN.php` for the actual location of the issue.

[2018-02-02 16:32] tylercd100 commented on #56
Are you sure that your App can connect to your database?
` SQLSTATE[HY000] [1045] Access denied for user 'forge'@'localhost' (using password: NO)`

[2018-02-02 16:34] tylercd100 commented on #55
Do you have a copy of the error that is produced?

[2018-02-02 16:44] #54 closed, assigned to nobody

[2018-02-02 16:44] tylercd100 commented on #54
Thank you @sroutier

[2018-02-02 16:45] tylercd100 commented on #57
Thank you @drjonnicholson

[2018-02-02 16:48] tylercd100 commented on #57
#58

[2018-02-02 17:50] sroutier commented on #54
:+1:

No, thank you for your great package!

Cheers.

[2018-02-02 17:55] #57 closed, assigned to nobody

[2018-02-03 12:04] muzafarali commented on #56
Yes im sure my App is connected with database. And working on different things just for log i install your package and getting these errors many time in my log file..

[2018-02-03 12:04] muzafarali commented on #56
i'm using laravel 5.4.x

[2018-02-15 21:50] leocello opened #61 "Running on a different DB connection"
One of the systems I am working on, has multiple databases. I am having a problem when migrating data to a different database and an exception happens, as LERN tries to save the exception on current database. Is it possible to choose a database for LERN to use?

[2018-02-16 23:28] tylercd100 commented on #61
Hey @leocello I've got a solution for you. I am adding the config option `lern.recorder.connection`. Please reference the [new config file](https://github.com/tylercd100/lern/blob/master/config/lern.php) and update your local version accordingly. This will allow you to select a different database connection for the model to use. This will be part of the v4.4.0 release

I do not have a multi-databa

[2018-02-16 23:28] #61 closed, assigned to nobody

[2018-02-19 20:57] leocello commented on #61
Hey @tylercd100. Awesome! It works fine! Thank you very much.

[2018-07-03 14:21] EvilLooney commented on #56
I just want to add that if the application cannot connect to the database and we have opted to record the errors in the database, we will enter an infinite loop that will cause the app to flood to the notification system (in my case, I got a thousands of emails until the app timed out).

A quick fix I used was to change the default reporting function to:
[code]

[2018-07-03 17:22] tylercd100 commented on #56
Thank you EvilLooney!

I like this solution and I want to implement this and roll this out as a bug fix.

I am doing some reading on PDO error codes and it looks like the error codes are of type String according to the comments of this [page](http://www.php.net/manual/en/class.pdoexception.php#pdoexception.props.code) (which explains the use of double equals in your code sample)

I also [read that

[2018-07-03 17:29] EvilLooney commented on #56
I also want to point out that my solution is only if we cannot connect to the database. I assume that this could also happen if the table does not exist or some other database error (I haven't tested).

Is there any way we could leverage your `RecorderFailedException` exception for this?

[2018-07-03 17:32] tylercd100 commented on #56
Yes but it looks like with the current code it wont send a notification either. This could be changed.

[2018-07-03 21:12] tylercd100 commented on #56
Alright, 4 hours later and I have an update.

1. I made it so `RecorderFailedException` will get sent on the notification channels.
2. I added a test that checks for infinite loops by having it try to connect to a database that is not running.
3. I added a Rate limit that defaults to 1/notification/second. It uses the Cache driver that you have set for your environment. You can change this by sett

[2018-07-03 22:09] tylercd100 commented on #56
Oops... forgot that merging pr's closes issues.

So version 4.5.0 is working as intended.

However in my case, if you use "database" as your queue driver paired with supervisor to restart your queue process whenever it fails. Supervisor tries to restart the process over and over which causes many notifications and memory overflow. This might be a bug related to laravel or supervisor, so I will loo

[2018-07-03 23:29] tylercd100 commented on #56
4.5.1 has fixed my previous issue.

[2018-07-04 13:22] EvilLooney commented on #56
Good thinking for the supervisor / database queue driver combo.

However, we still have a problem if the Cache driver used is the database driver. My app completely crashes, even without some logging made into the `laravel.log` file.

[2018-07-06 16:40] tylercd100 commented on #56
K I'll look into this too.

[2018-10-25 20:28] bolence opened #67 "Compatibility with Laravel 5.7.x"
Hi,
when can we should expect new release compatible with latest Laravel version?
Thanks

[2018-10-25 20:41] tylercd100 commented on #67
Hi @bolence does it not currently work with 5.7?

[2018-10-25 20:43] bolence commented on #67
Nope. I have tried with 5.7.11 version and I am getting error on composer update...

[2018-10-25 20:43] tylercd100 commented on #67
What is the error?

[2018-10-25 20:45] bolence commented on #67
Your requirements could not be resolved to an installable set of packages.
    - Conclusion: remove tylercd100/laravel-notify 1.8.5
    - Installation request for tylercd100/lern ^4.5 -> satisfiable by tylercd100/lern[4.5.0, 4.5.1].
    - Conclusion: don't install tylercd100/laravel-notify 1.8.5
    - tylercd100/lern 4.5.0 requires tylercd100/laravel-notify ^2.0 -> satisfiable by tylercd100/larave

[2018-10-25 20:49] tylercd100 commented on #67
what does your composer.json file look like? Are you installing tylercd100/laravel-notify separately?

[2018-10-25 20:51] bolence commented on #67
Looks normal, I just did it composer require tylercd100/lern this.
Nope. laravel-notify is not separately.

[2018-10-25 20:52] tylercd100 commented on #67
K, I'll give it a look. One second

[2018-10-25 20:52] bolence commented on #67
Ok, thanks.

[2018-10-25 23:30] tylercd100 commented on #67
Hey Bolence, I just installed `lern` on a fresh install of `laravel 5.7` with no errors. There must be something holding back `tylercd100/laravel-notify` from being updated to version `>2.0.0`

Would you mind posting your dependencies from your `composer.json`?

[code]

[2018-10-26 08:49] bolence commented on #67
Ok, thank you very much. I will check it my Composer. Maybe it is a problem because it is not freshly installation. One more question, is it possible to have more than one notification stack? For example, I want to save exception in dB and also I want to send notification on email and slack channel? Thanks.
FYI., I think that your package is a best package for exception handling. I am using it in

[2018-10-30 21:27] tylercd100 commented on #67
@bolence Yes that is possible, just change the 'drivers' option in the config.

[code]

[2018-11-05 20:50] tylercd100 commented on #67
Please reopen if you are still having issues

[2018-11-05 20:50] #67 closed, assigned to nobody

[2018-12-05 16:45] EvilLooney opened #68 "Incorrect Config Path"
Just to let you know that the path here should read: `config('lern.record.model')`

https://github.com/tylercd100/lern/blob/c67e2b51c816a815fe32704610ef2b6cf216429a/src/Components/Recorder.php#L69

[2019-05-30 14:25] EvilLooney commented on #56
Another problem we can have is that if, for some reason, the database has too many connections, we'll have a situation where we are flooding the database with INSERT queries (and sending out emails) which in turn exacerbates the too many connection problem.

`Illuminate\Database\QueryException
SQLSTATE[08004] [1040] Too many connections `

Is there anyway to forgo all insertions of exceptions for

[2019-05-30 17:24] tylercd100 commented on #56
Hey EvilLooney,

Is the too many connections exception being thrown on this line?
https://github.com/tylercd100/lern/blob/master/src/Components/Recorder.php#L77

Can you post a stack trace?

[2019-05-30 17:59] EvilLooney commented on #56
I'm sorry! My bad.

Your code is working fine as it's not adding these errors in the exceptions table; I did get 200 or so emails though. I should have double checked.

[2019-10-18 08:46] veakabori opened #69 "Compatibility with 6.x"
Hi,
Do you plan to release a new update compatible with Laravel 6.x?

[2019-10-28 22:02] tylercd100 commented on #69
Yes, I will look into this sometime this week.

[2019-11-12 14:11] andreshg112 opened #70 "Something appearing in my Redis cache"
This is appearing in my cache storage but I don't know why. This should be only saved in the database.
[code]

[2019-11-12 14:42] andreshg112 commented on #70
Oh, sorry! This is explained in the `config/lern.php` file.

![imagen](https://user-images.githubusercontent.com/15859884/68681062-b0bd8180-0530-11ea-858c-4ec2ebf4dd6e.png)

[2019-11-12 14:42] #70 closed, assigned to nobody

[2019-12-09 09:37] robbielove commented on #69
Do you have a rough outline of what needs to be done?

Happy to contribute

[2019-12-16 12:45] robbielove commented on #50
I have got it to work, you just need to use the OAuth Access Token which you can get from the app settings in slack under 'install app'

yes you can use a private channel

https://api.slack.com/docs/oauth

[2020-01-08 00:27] #69 closed, assigned to nobody

[2020-01-08 03:07] tylercd100 commented on #69
Sorry for the extreme delay. LERN v5.0 now supports Laravel 6

[2020-01-08 03:09] tylercd100 commented on #68
Fixed in LERN v5.0

[2020-01-08 03:09] #68 closed, assigned to nobody

[2020-01-23 06:12] nabeeljavaid opened #73 "Unable to install LERN 5.x package on Laravel 6.x"
I am trying to install this package on Laravel 6.8 but getting following composer errors, it seems like something wrong with dependency requirements

Using version ^5.0 for tylercd100/lern
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

[2020-02-06 11:19] Eluia commented on #73
This is due to a conflict in requires.

This package (and some of it's dependencies) require monolog/monolog in version ^1.22 while laravel 6 (and ignition) requires monolog/monolog ^1.12 || ^2.0

I managed to fix it for now and install tylercd100/lern in my laravel 6 by forcing a monolog version 1 in my composer.json :

`"monolog/monolog": "^1.22"`

[2020-02-06 11:37] nabeeljavaid commented on #73
should I install "monolog/monolog": "^1.22" in my laravel-6.8 project before installing lern package?

[2020-02-06 11:41] Eluia commented on #73
I edited my project's composer.json and added `"monolog/monolog": "^1.22"` in the `require` array.
Then I ran a `composer update`, before installing lern package.
Worked for me on laravel 6.14.0

[2020-02-06 12:01] nabeeljavaid commented on #73
@Eluia I don't want to downgrade monolog/monolog, I think tylercd100/lern package should support latest version of monolog/monolog ^2.0 so developers can easily install it on latest version of Laravel without any cumbersome.
THANKS

[2020-02-06 12:08] Eluia commented on #73
Same as you, I'd rather run monolog/monolog ^2.0.
Bu until devs fix the packages for laravel 6 and monolog 2 I'll have to run it with monolog 1

[2020-02-06 17:28] tylercd100 commented on #73
Hey everyone,

I was hoping that updating the version number in the composer.json would be
sufficient to resolve the issue, but there are some needed code changes in
some dependent packages that I also author that need to be fixed first
before this can happen.

Unfortunately, I am moving houses this week and I will have to put this off
until next week.

If anyone wants to fix the dependent package

[2020-03-12 20:31] bobwurtz opened #75 "Recording User ID does not work with custom guards"
Tyler - this is a great service. Thanks for putting it together.

One issue I had was recording an exception for a user with a custom guard. The value for user_id was null. A workaround I came up with is to edit the getUserId function within the Components/Recorder.php file:

`protected function getUserId() {

    $user = Auth::user();
        if (!isset($user)) {
            $user = Auth::guard('

[2020-05-02 12:17] mahony0 commented on #67
I got same error as well. This because lern has "illuminate/support": "^6.0" in composer and laravel 7 has illuminate/support 7.x

Here is the error details:

[code]

[2020-09-12 11:17] FayazK opened #77 "Laravel 7|8 Support"
Please add support for Laravel 7|8 asap

[2020-12-03 21:51] tylercd100 commented on #77
#78

[2020-12-03 21:51] #77 closed, assigned to nobody

[2020-12-03 21:52] tylercd100 commented on #73
I believe the new version adds support for monolog v2
#78

[2020-12-17 18:32] #73 closed, assigned to nobody

[2021-06-08 01:42] muhamedRadwan opened #80 "How to enable or disabled the package"
I need to disable the package in localhost or dev how I can make this

[2021-08-07 13:59] muhamedRadwan opened #81 "you can add this wiki page to your wikis"
https://github.com/muhamedRadwan/lern/wiki/Connect-To-Slack-Bot

[2022-06-13 09:04] nabeeljavaid opened #82 "Add Laravel 9.0 Support"
@tylercd100 Please add Laravel 9 support in this package